* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
:root {
  --blue: #003893;
  --white: #ffffff;
  --red: #dc143c;
} */

nav {
  top: 0;
  left: 0;
  background: linear-gradient(to right, #1bbc9b 0%, #14b9d5 100%);
  background: transparent;
  min-height: 10vh;
  /* box-shadow: -3px 5px 7px 1px rgba(240, 209, 209, 0.41); */
  position: sticky;
  width: 100%;
  margin: auto;
  z-index: 1000;
  font-family: "Happy Monkey", cursive;
}

nav li {
  list-style: none;
}
nav a {
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
}

.navbar_nav-container {
  display: flex;
  min-height: 50px;
  justify-content: space-between;
  align-items: center;
}

.navbar_brand-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_nav-menu-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_toogle-btns {
  padding-right: 10px;
  display: none;
}
.navbar_brandName {
  font-size: larger;

  font-size: 3vw;
  cursor: pointer;
  font-weight: bold;
}

.navbar_burger {
  background-color: #b33949;
  height: 2px;
  width: 20px;
  margin: 4px;
  transition: all 0.5s ease;
}

.navbar_nav-menu-item {
  min-width: 90px;
  text-align: center;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.navbar_nav-menu-item-link {
  width: 100%;
  padding: 5px 5px;
  display: block;
}

.navLink-active {
  color: var(--red);
}

.navbar_nav-menu-item:hover .navbar_nav-menu-item-link {
  cursor: pointer;
  color: var(--red);
  transition: all 0.4s ease-in-out;
}

.navbar_searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  margin-left: 20px;
  position: relative;
}

.navbar_searchbox input {
  background-color: #f9dade;
  border: none;
  height: 30px;
  padding: 3px 5px 1px;
  padding-left: 20px;
  width: 170px;
  border-radius: 5px;
  transition: all 0.35s ease-in-out;
  line-height: 1.2;
}
input:focus {
  background-color: rgb(252, 249, 248);
  border: none;
}

.navbar_serach-btn {
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  right: 12px;
  position: absolute;
}

.navbar_search-btn-icon {
  color: rgb(43, 40, 58);
  font-size: 16px;
  font-weight: 800;
  transition: all 0.2s ease-in;
}
.navbar_search-btn-icon:hover {
  color: rgb(47, 163, 72);
}

@media only screen and (max-width: 770px) {
  nav {
    max-height: 6vh;
  }
  .navbar_nav-container {
    flex-direction: column;
    padding: 0 2px;
    align-items: stretch;
    justify-content: center;
  }

  .navbar_toogle-btns {
    background-color: #f5f3f3;
    padding: 2px 5px;
    display: block;
    margin-right: 20px;
    border-radius: 6px;
  }
  .navbar_brand-toggle {
    padding-top: 5px;
    flex-grow: none;
  }
  .navbar_brandName {
    padding-left: 20px;
  }

  .navbar_nav-menu-div {
    flex-direction: column;
  }

  .navbar_nav-menu {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .navbar_nav-menu-item {
    margin: 10px 5px;
    width: 80%;
    text-align: center;
    padding: 0;
  }
  .navbar_nav-menu-item-link {
    width: 100%;
    display: block;
    padding: 10px 0;
    font-weight: bold;
  }
  .navbar_burger-1 {
    transform: rotate(-45deg) translate(-3px, 5px);
  }
  .navbar_burger-2 {
    opacity: 0;
  }

  .navbar_burger-3 {
    transform: rotate(45deg) translate(-3px, -6px);
  }

  .navbar_nav-menu-div-mobile {
    flex-grow: none;
    border-bottom: var(--red) 1px solid;
    position: absolute;
    top: 62px;
    background-color: #ffff;
    width: 100%;
    overflow: hidden;
    left: -100%;
    opacity: 1;
    transition: all 1s ease;
    height: 60vh;
    justify-content: space-around;
  }
  .navbar_menu-active {
    left: 0;
  }

  .navbar-searchbox {
    margin-bottom: 20px;
  }
}

.text-red {
  color: var(--red);
}

@media only screen and (max-width: 700px) {
  .text-red {
    display: none;
  }
}
