@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");

:root {
  --blue: #003893;
  --white: #ffffff;
  --red: #dc143c;
  --grey: #555555;
  --hoveron: rgba(27, 188, 155, 0.3);
  --clicked: rgba(20, 185, 213, 0.3);
}

body {
  font-family: "Happy Monkey", cursive;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}

/* background: linear-gradient(to right, #1bbc9b 0%, #14b9d5 100%); */
