/* <-----------------------------Common CSS Style ------------------> */

.btn {
  border-radius: 38px;
  letter-spacing: 2px;
  line-height: 14px;
  border: #1bbc9b 1px solid;
  font-size: 14px;
  background-color: #1bbc9b;
  padding: 15px 35px;
  transition: all 0.5s ease;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover {
  color: #1bbc9b;
  background: #ffff;
}

.main-page {
  position: relative;
}

.main-page_image {
  background-image: linear-gradient(
    90deg,
    rgba(27, 188, 155, 0.3) 0%,
    rgba(20, 185, 213, 0.3) 100%
  ) !important;
  margin-top: -15vh;
}

.main-page__heading {
  top: 60%;
  left: 20%;
  transform: translate(0%, -60%);
  z-index: 15;
  font-weight: bolder;
  position: absolute;
  font-size: 8vw;
  font-style: normal;
  letter-spacing: 2px;
  background: linear-gradient(to right, #1bbc9b 0%, #14b9d5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* <----------------------------Destination----------------------> */

.main-page__destination h1 {
  color: var(--grey);
  font-size: 40px;
  font-weight: bold;
  padding: 4rem 0 1rem 0;
  text-decoration: underline;
  text-decoration-color: #1bbc9b;
  text-decoration-thickness: 2px;
}

.main-page__destination-images {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 100vw;
  margin: 2rem 0;
}

.main-page__destination-imgbox {
  color: var(--white);
  position: relative;
  height: 370px;
  max-width: 370px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 2s ease;
}

.main-page__destination-imgbox h3,
.main-page__destination-imgbox h4 {
  letter-spacing: 1.2px;
}
.main-page__destination-imgboxtext-group {
  position: absolute;
  margin-bottom: 2rem;
  bottom: 0;
  z-index: 20;
  text-align: center;
}

.btn-destination {
  padding: 12px 30px;
  margin: 0.5rem;
}

/* <----------------------------Discover----------------------> */

.main-page__discover {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2rem auto;
  max-width: 100vw;
  grid-gap: 1rem 0;
}

.main-page__discover-imgbox {
  position: relative;
  max-height: 240px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 2s ease;
}

.main-page__discover-imgboxtext-group {
  position: absolute;
  z-index: 20;
  text-align: center;
}

.main-page__discover-imgboxtext-group h3 {
  color: #ffffff;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0px;
  font-weight: bold;
}

.main-page__discover-imgbox:hover .main-page_discover-image {
  transform: scale(1.1);
}
.main-page_discover-image {
  transform: scale(1);
  transition: transform 2s ease;
}

/* <----------------------------------MAX-WIDTH = 7750px -------------------------------------> */

@media only screen and (max-width: 770px) {
  /* <----------------------------Destination---------------------->  */

  .main-page__destinationm-images {
    grid-template-columns: 1fr 1fr;
  }

  /* <----------------------------Discover----------------------> */

  .main-page__discover {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }

  .main-page__discover-imgbox {
    max-height: none;
  }
}

/* <----------------------------------MAX-WIDTH = 7750px -------------------------------------> */

@media only screen and (max-width: 420px) {
  /* <----------------------------Destination---------------------->  */

  .main-page__destinationm-images {
    grid-template-columns: 1fr;
  }

  /* <----------------------------Discover----------------------> */

  .main-page__discover-images {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }
}
